src/main/mule/mule4cicddeploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="19c9907d-7e4b-4c76-8dbb-3b6a4ab4f088" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule4cicddeployFlow" doc:id="67fda9c1-56db-47cf-b9c9-d2fad42663f7" >
		<http:listener doc:name="Listener" doc:id="1d36a48f-f7c3-494f-b592-1d707bac5030" config-ref="HTTP_Listener_config" path="/cicd" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="f1d337a3-a1c0-48cd-be37-91d2f568244b" message="Message Received and Processed Successfully"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	ResponseMessage: "Message Received and Processed Successfully"&#10;}]' doc:name="Set Payload" doc:id="3658d652-4423-4865-9b0c-dabf44c0e462" />
	</flow>
</mule>
