src/main/mule/mule4-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6989aabd-6e99-46a3-bd5a-3f6575d9c46c" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="mule4cicdFlow" doc:id="0869d31e-452a-4885-9857-934c61c49b4a" >
		<http:listener doc:name="Listener" doc:id="ee033363-c9b9-4c5b-99ce-a0c717d6c5ab" config-ref="HTTP_Listener_config" path="/mule4CICD"/>
		<logger level="INFO" doc:name="Logger" doc:id="375ad350-4f27-4328-a991-d66a25fc609c" message='"Process Started..."'/>
		<set-payload value='#["The Data has been processed successfully. Returned Response to Client."]' doc:name="Set Payload" doc:id="5722351c-abec-4119-bc41-1f2a343ac6ff" />
		<logger level="INFO" doc:name="Logger" doc:id="dbd4ea76-93e5-42b9-9618-23441fc67127" message='"Process Ended..."'/>
	</flow>
</mule>
